{% extends 'mysite/main.html' %}
{% load static %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-5 col-md-offset-1">
      <h3>MAIN TITLE</h3>
    </div>
  </div>
  <div class="card mb-3 destination" style="max-width: 1540px;">
    {% for destination in destinations %}
    <div class="row no-gutters">
      <div class="col-md-4">
        <img class="thumbnail" src="{{ MEDIA_URL}} {{ destination.imageURL }}" id="myImg" alt="{{destination.title}}">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{destination.title}}</h5>
          <p class="card-text">{{destination.text|safe|truncatechars:300}}</p>
          <a href="{% url 'detail' destination.url %}" class="btn btn-primary">Leer más &rarr;</a>
        </div>
      </div>
    </div>
    <hr>
    {% endfor %}
  </div>
</div>

{% endblock %}
