{% extends 'mysite/menu.html' %}
{% load static %}
{% block content %}

<div class="content-header">
  <img src="{% static 'images/banners/dormir-banner.jpg' %}" />
  <div class="centrado"><h1>Hoteles en Buenaventura</h1></div>
</div>

<div class="paragraph">
  <div class="content-body">
    <p>El alojamiento es una de las piezas claves que se necesita tener listo a la hora del viaje. En Buenaventura encontrarás una gran variedad de lugares para que puedas descansar comodamente.</p>
  </div>
  <h1 class="content-title">Hoteles en Buenaventura</h1>
  <div class="row">
    <div class="card-columns">
      {% for hotel in hotels %}
      <div class="card card-block">
        <img class="card-img-top" src="{{hotel.imageURL}}" alt="{{hotel.title}}">
        <div class="card-body">
          <h5 class="card-title">{{hotel.title}}</h5>
          <p class="card-text">Precio minimo: {{hotel.minimal_price}}</p>
          <p class="card-text"><small class="text-muted"><a href="{% url 'detail' hotel.url %}">Ver mas</a></small></p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div class="advance-buttons">
  <h3>Tambien te puede interesar</h3>
  <a href="#" class="btn"><i class="fas fa-arrow-alt-to-left"></i>Actividades</a>
  <a href="{% url 'restaurant' %}" class="btn">Donde Comer<i class="fas fa-arrow-alt-to-right"></i></a>
</div>

{% endblock %}
