{% extends 'mysite/main.html' %}
{% load static %}
{% block content %}

<section class="section-padding">
  <div class="text-center">
      <h1 class="title-primary mb-5" data-aos="fade-up">Historia de Buenaventura</h1>
  </div>

  <div class="container">
    <p class="w-responsive mx-auto mb-5 text-justify" data-aos="fade-left">
      <b>Los orígenes del puerto:</b> En 1540, el gobernador Andagoya le encargó a su capitán Juan de Ladrillero la fundación la ciudad de Buenaventura, en el cauce bajo del río Anchicayá. Es decir, se trataba de un puerto fluvial y no marítimo. Los primeros años de vida del nuevo centro urbano no fueron fáciles. Los españoles soportaron con pesadumbre el rigor del clima, la existencia de insectos y otros animales, la escasez de alimentos y el ataque casi cotidiano de los indios de la región. En 1542, los pocos vecinos de Buenaventura escribieron a las autoridades de Popayán a las que solicitaron socorro, pues no podían “sustentar” la ciudad debido a que los indios los atacaban constantemente. El teniente Juan de Cabrera envió ayuda desde Cali, pero con la condición de que se despoblara la ciudad de Buenaventura, tal y como se hizo.
    </p>
    <p class="w-responsive mx-auto mb-5 text-justify" data-aos="fade-right">
      Durante lo restante del periodo colonial, Buenaventura siguió siendo el principal puerto del Nuevo Reino de Granada sobre el Océano Pacífico. El descubrimiento de yacimientos auríferos en los ríos Raposo, Dagua, Anchicayá y Cajambre permitió que se establecieran reales de minas explotados por esclavos negros e iniciara una incipiente colonización de la zona. Como en otras regiones de las tierras bajas del Pacífico, el encuentro de tres grupos distintos: indígena, africano y español produjo una nueva sociedad en la que cada uno de estos grupos aportó para su configuración.
    </p>
    <p class="w-responsive mx-auto mb-5 text-justify" data-aos="fade-left">
      <b>Un nuevo puerto para una vieja bahía:</b> Tal como lo sabían los funcionarios españoles del ocaso del periodo colonial, Buenaventura era un punto estratégico para el imperio hispánico. Se trataba del puerto más septentrional del Pacífico suramericano y conectaba la zona minera del Chocó con la agrícola y ganadera de la gobernación de Popayán. Durante la Independencia, Buenaventura se convirtió en un lugar importante para la guerra, pues era el punto de partida o llegada de las tropas que pretendían salir al Caribe a través de la ruta de los ríos San Juan y Atrato.
    </p>
    <p class="w-responsive mx-auto mb-5 text-justify" data-aos="fade-right">
      La abolición de la esclavitud acarreó un proceso de poblamiento negro a lo largo de los ríos que descienden de la Cordillera Occidental. La colonización se vio reforzada con el inicio de ciclos extractivos, principalmente de caucho, tagua y maderas, y se continuó con la extracción de oro y platino. Esto produjo que Buenaventura aumentara su densidad demográfica y su importancia económica.
    </p>
  </div>

</section>

{% endblock %}
