{% extends 'mysite/menu.html' %}
{% load static %}
{% block content %}

<div class="content-header">
  <img src="{% static 'images/banners/info-banner.jpg' %}" />
  <div class="centrado"><h1>Información de Buenaventura</h1></div>
</div>

<div class="paragraph">
  <div class="text-center">
    <p class="col-12 w-responsive mx-auto mb-5">Si deseas viajar a Buenaventura deberias leer esta información practica sobre su historia, cultura, localidades, clima y mas.
    Descubre interesantes datos de Buenaventura y sacale el maximo partido a tu viaje.</p>
  </div>
  <section>
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Historia <i class="fas fa-history"></i></h5>
            <p class="card-text">Descubre la historia de Buenaventura desde su fundacion hasta lo mas vigente. Conoce
            el pasado presente y futuro de este distrito especial.</p>
            <a href="{% url 'history' %}" class="card-link">Saber mas</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Localidades <i class="fas fa-home"></i></h5>
            <p class="card-text">Conoce las localidades isla y continentes de este distrito especial, incluyendo todas
            sus comunas y barrios.</p>
            <a href="#" class="card-link">Saber mas</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100">
          <div class="card-body">
            <h5 class="card-title">Dias Festivos <i class="fas fa-calendar-check"></i></h5>
            <p class="card-text">Si estas planeando viajar a Buenaventura durante alguna de sus fiestas, este es el mejor
            lugar para que lo sepas.</p>
            <a href="#" class="card-link">Saber mas</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>


  <div class="advance-buttons justify-content-center">
    <h3>Tambien te puede interesar</h3>
    <a href="#" class="btn"><i class="fas fa-arrow-alt-to-left"></i>Estadisticas</a>
    <a href="{% url 'howtoget' %}" class="btn">Como Llegar<i class="fas fa-arrow-alt-to-right"></i></a>
  </div>

{% endblock %}
