{% extends 'mysite/main.html' %}
{% load static %}
{% block content %}

<section class="section-padding">
  <div class="text-center">
      <h1 class="title-primary mb-5" data-aos="fade-up">Mapa turistico de Buenaventura</h1>
  </div>

  <div class="container">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3980.6330144592007!2d-77.0800441947411!3d3.888581771545366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sco!4v1614355681987!5m2!1ses!2sco" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
  </div>
</section>

{% endblock %}
